ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}

a,
a:visited {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

ul.top-nav-left {
  float: left;
}

ul.top-nav-right {
  float: right;
}

ul.top-nav-left > li {
  float: left;
}

ul.top-nav-right > li {
  float: left;
}

li a {
  display: block;
  margin: 0 2px;
  padding: 14px 14px;
  text-decoration: none;
  text-align: center;
}

#signin {
  background-color: #4285f4;
  font-weight: bold;
  color: #fff;
  border: 1px solid #4285f4;
  border-radius: 2px;
  padding: auto 12px;
  font-size: 16px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.searchbox {
  width: 700px;
  position: absolute;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.searchbox > img {
  display: block;
  margin: auto;
}

#search {
  display: block;
  margin: 4% auto;
  width: 100%;
  border-radius: 25px;
  padding: 15px;
  box-sizing: border-box;
  border: 0.3px solid gray;
  font-size: 18px;
}

#gsearch,
#lucky {
  display: inline;
  height: 36px;
  padding: 0px 16px;
  margin: 0 3px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #5f6368;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 27px;
}

#icon {
  background-image: url(https://cdn3.iconfinder.com/data/icons/navigation-and-settings/24/Material_icons-01-11-512.png);
  background-size: contain;
  opacity: 0.55;
  height: 15px;
  width: 15px;
  margin: 0 13px 0 -5px;
}

.footer-left {
  position: fixed;
  left: 0;
  bottom: 0;
  display: inline;
  width: 100%;
  text-align: center;
  background-color: rgb(242, 242, 242);
  color: #222222;
}

.footer-left > li {
  float: left;
}

.footer-right {
  position: fixed;
  right: 0;
  bottom: 0;

  display: inline;
  width: 100%;
  text-align: center;
}
.footer-right > li {
  float: right;
}
